.center_mindmap{
    text-align: center;
    padding-top: 10%;
}

.center_contact{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.encadre-titre{
    border: 3px solid #dd00ff; /* Couleur de la bordure */
    display: inline-block; /* Pour que la bordure encercle le texte */
    font-weight: bold;
    font-style: italic;
    background-color: black;
}

#skills-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
}

.skill-logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.skill-logo p {
  margin-top: 8px;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  #skills-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #skills-list {
    grid-template-columns: 1fr;
  }
}

.single-slider img {
  width: 100%;
  height: 400px; /* ajuste selon ton design */
  object-fit: cover;
}

